body{
    background-color: rgb(0, 58, 58);
    display: inline-flex;  
}

.mainContainer{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 18%;
    display: inline;
}

.problemCreator{    
    margin-top: 5%; 
}

#descriptionTextArea{
    resize: none;   
}

#console{
    resize: horizontal;
    background-color: black;
    color: white;
    display: inline;
}

#addProblemButton{
    width: 60px;
    margin-left: 80%;
}

#runButton{
    width: 80px;
    display: inline,
}

.actionButton{
    color: white;
    background-color: crimson;
    border: black solid 2px;
    border-radius: 45%;
}