body{
    background-color: rgba(32,37,49,255);
    padding: 0em;
    display: flex;  
}


/* Parte izquierda de la pagina */

.problemCreator{
    width: 25em;
    height: 44.5em;
    margin: 0.5em;
    margin-left: 0em;
    padding: 1em;
    border-radius: 5%;
    background-color: rgb(13, 88, 39, 1);
    display: inline;     
}

#nameInput{
    color: rgba(240, 236, 105, 1);
    background-color: transparent;
    border: black solid 0.1em;
}

#descriptionTextArea{
    color: rgba(240, 236, 105, 1);
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    width: 26em;
    height: 46em;
    border: black solid 0.15em;
    border-radius: 5%;
    background-color: transparent;
    resize: none;   
}

input[type="file"] {
    display: none;
}

#testCasesSelectorLabel{
    color: rgb(254, 49, 230);
    position: relative;
    left: 2em;
}

#addProblemButton{
    width: 6em;
    position: relative;
    left: 10em;
}


/* Centro de la pagina */
.mainContainer{
    margin: 0.5em;
    display: inline;
}

#console{
    margin-top: 0.5em;
    width: 50em;
    resize: none;
    background-color: black;
    border-color: white;
    color: white;
}

#runButton{
    width: 80px;
    position: relative;
    top: -2em;
    left: 1em;
}


/* Parte Derecha de la Pagina */

.problemSelector{
    width: 25em;
    height: 45.5em;
    margin: 0em;
    padding: 1em;
    border-radius: 5%;
    background-color: rgb(13, 88, 39, 1);
    display: inline;        
}

#problemSelect{
    color: rgba(240, 236, 105, 1);
    background-color: transparent;
    border: black solid 0.1em;
}

#problemTextArea{
    color: rgba(240, 236, 105, 1);
    margin-top: 1em;
    margin-bottom: 0em;
    padding: 1em;
    width: 25em;
    height: 50em;
    border: black solid 0.15em;
    border-radius: 5%;
    background-color: transparent;
    resize: none;   
}



/* Estilos Generales */

.actionButton{
    color: white;
    background-color: crimson;
    border: black solid 2px;
    border-radius: 45%;
}
